body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center { 
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    padding-right:100px;
}

 .container{
                max-width:600px;
                margin:0 auto;
                color:black;
                font-family:Sans-serif;
 }    