body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center { 
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
    padding-left:600px;
    padding-right:200px;
}

 .container{
                max-width:600px;
            
                color:black;
                font-family:Sans-serif;
 }    